:root {
	color-scheme: dark;
}

.tooltip-inner {
	color: #d8d8d8 !important;
	background-color: #313131 !important;
}

lite-youtube, iframe {
	color-scheme: light !important;
}

.gold-text:not(.rainbow-text):not(.candycorn):not(.candycane):not(a), .gold-text.post-title a:not(.post-flair), :not(td) > a[href="/h/highrollerclub" i]:not(.hole-flair), :not(td) > a[href="/h/announcements"]:not(.hole-flair, .sidebar-wpd--holes > a) {
	background: url("/i/animations/gold_gradient_dark.svg");
	background-size: 200% 200%;
}

code {
	color: #f679b2;
}

.author-bitten p {
	color: #a5a5a5 !important;
}

.banned {
	background-color: #960000 !important;
	border-left: 10px solid #960000 !important;
}
.deleted {
	background-color: #4a4a15 !important;
	border-left: 10px solid #4a4a15 !important;
}
.deleted.banned {
	background-color: #964000 !important;
	border-left: 10px solid #964000 !important;
}
.glow, .glow * {
	color: lightgreen !important;
	text-shadow: 1px 1px 1px darkgreen, 0 0 5px green !important;
}

.user-level, .user-level-small {
	color: gold;
}

#edits del {
	background: #800
}

#edits ins {
	background: #050;
}

#chat_poll_minimize {
	color: white !important;
}
