
@media (min-width: 768px) {
	lite-youtube { /* fix overflow */
		max-width: 18vw !important;
	}
}

#orgy-top-container {
	display: flex;
	justify-content: space-around;
}
.orgy-chat-window-item {
	display: flex;
	flex-direction: column;
	max-height: calc(100dvh - 82px);
}

@media (max-width: 768px) {
	#orgy-top-container {
		max-height: calc(100dvh - 68px);
		flex-direction: column;
	}
	#orgy-top-container:has(#orgy-game) {
		max-height: calc(140dvh - 68px);
	}
	#cancel_btn + #orgy-top-container {
		max-height: calc(100dvh - 173.5px);
	}
	.orgy-chat-window-item  {
		max-height: 100dvh;
		overflow-y: auto;
	}
}

@media (max-width: 600px) and (max-height: 408px) { /* fix text reverse bug, max-width is so it stops disallowing people from viewing the orgy videos in fullscreen, using orientation:portrait and orientation:landscape for that doesn't work */
	#orgy-col {
		display: none !important;
	}
}

.orgy-chat-window-item {
	flex-grow: 2;
}

#orgy-file-container {
	width: 65vw;
	max-height: 80dvh !important;
	max-width: 100vw !important;
}

#orgy-file-container > * {
	max-height: 80dvh !important;
	margin: 0 !important;
	height: 98% !important;
	width: 98% !important;
	outline: none;
}

#orgy-top-container[data-orgy-type="poker"] #orgy-file-container {
	max-height: none !important;
	overflow: scroll;
}

@media (max-width: 768px) {
	#orgy-file-container {
		width: 100% !important;
		display: block;
	}
	#orgy-title {
		display: none;
	}
	#orgy-col {
		padding: 0px;
	}
	#orgy-file-container > * {
		height: 100% !important;
		width: 100% !important;
	}
	#orgy-file, #orgy-iframe {
		max-height: 40dvh !important
	}
	.orgy-chat-window-item {
		max-width: 100%
	}
}


#cursormarsey, #cursormarsey-heart {
	display: none;
}

body > .container {
	padding: 0 !important;
	margin: 0 !important;
	margin-right: 0 !important;
}

*:not(#orgy-file-container) {
	resize: none !important;
}

#orgy-file-container > :not(video) { /* to fix specifity */
	height: 90% !important;
	width: 98% !important;
	max-width: 98% !important;
	overflow-y: clip;
}

@media (max-width: 768px) {
	#orgy-file-container > :not(video) {
		height: 100% !important;
		width: 100% !important;
		max-width: 100% !important;
	}
}

#orgy-file-container > iframe {
	aspect-ratio: 16/9;
}

blockquote > blockquote > blockquote > blockquote > blockquote {
	display: none;
}

@media (max-width: 768px) {
	*:target {
		scroll-margin-top: 15vh;
	}
}

#orgy-file-container > #orgy-game { /* using #orgy-file-container to fix specifity */
	height: 100vh !important;
}
@media (min-width: 768px) {
	#orgy-game[src^="https://richup.io/room/"] {
		width: 75vw;
	}
}
@media (max-width: 768px) {
	#orgy-game[src^="https://garticphone.com/en/?c="] { /* fix deadspace */
		max-height: 72vh !important;
	}
}
@media (max-width: 768px) {
	#orgy-top-container[data-orgy-type="poker"] .orgy-chat-window-item {
		height: 50dvh;
	}
	#orgy-top-container[data-orgy-type="poker"] {
    	max-height: none !important;
	}
}
