:root {
	--light: transparent;
	--gray-600: transparent;
	--gray-700: transparent;
	--gray-800: transparent;
	--gray-900: transparent;
}

.container, #userpage > div.container-fluid, #root > div.App, #orgy-top-container {
	background: rgba(var(--background), 0.9) !important;
}

.fixed-bottom, .popover, .modal-content, .dropdown-menu, .navbar, body, .form-control, #inline-carot-modal {
	background-color: rgb(var(--background)) !important;
}

.App-side, .reports, .comment-section {
	background: transparent !important;
}
