#casinoGameResult {
	visibility: hidden;
}

@keyframes drawing {
	from {
		left: 0;
		opacity: 1;
	}

	to {
		left: 100px;
		opacity: 0;
	}
}

.drawing-a-card {
	animation: drawing 1s ease-in-out;
}

.playing-card-deck {
	position: relative;
	z-index: 3;
	box-shadow: -5px 5px 5px 0px rgba(60, 60, 60, 0.56);
}

.flipped-playing-card {
	position: absolute;
	width: 100px;
	height: 150px;
	border-radius: 4px;
	border: 1px solid #21262C;
	background-color: #f04bec;
	transform: scale(0.7);
}

.playing-card {
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100px;
	height: 150px;
	border-radius: 4px;
	border: 1px solid #21262C;
	background-color: #FFF;
	box-shadow: -5px 5px 5px 0px rgba(60, 60, 60, 0.56);
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

.playing-card_red {
	color: #ff0000;
}

.playing-card_black {
	color: #333;
}

.playing-card_small {
	font-size: 18px;
	position: absolute;
}

.playing-card_large {
	font-size: 42px;
	text-align: center;
}

.playing-card_topright {
	top: 6px;
	right: 6px;
}

.playing-card_bottomleft {
	bottom: 6px;
	left: 6px;
	transform: scaleX(-1) scaleY(-1);
}

#casinoGameResult, #casinoGameStats {
	text-transform: uppercase;
	text-align: center;
	letter-spacing: 3px;
	font-weight: 700;
}

.casino-game-leaderboard {
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin-bottom: 1rem;
}

.casino-game-leaderboard-info {
	text-align: right;
	text-transform: uppercase;
	letter-spacing: 2px;
}

.leaderboard-marsey-trophy {
	position: relative;
	width: 100px;
	height: 100px;
}

.leaderboard-marsey-trophy__marsey {
	position: relative;
	z-index: 1;
	height: 100px;
}

.leaderboard-marsey-trophy__trophy {
	position: absolute;
	right: 0;
	bottom: 0;
	z-index: 2;
	font-size: 48px;
}

.game_screen-col {
	max-width: 150px;
}
#wagerCoinsImg {
	width: 15px;
}
#wagerMarseybuxImg {
	width: 20px;
}

@media (max-width: 322px) {
	#wagerCoinsImg {
		width: 18px;
	}
	#wagerMarseybuxImg {
		width: 30px;
	}
	.game_screen-col {
		max-width: 110px;
	}
	#wagerAmount {
		font-size: 13px !important;
	}
}

@media (max-width: 768px) {
	.casino-game-leaderboard-info {
		letter-spacing: 0.5px;
	}
	.casino-game-leaderboard-info > h3 {
		margin: 0;
	}
	.casino-game-leaderboard-info > h3 > a {
		font-size: 12px;
		font-weight: 700;
	}
}

#casinoGameResult:empty {
	margin: 0 !important;
	padding: 0 !important;
}

@media (max-width: 768px) {
	#casinoGameResult {
		font-size: 12px;
		padding: 0.25rem;
		margin-bottom: 0.25rem;
	}
	#casinoActions * {
		font-size: 12px;
	}
	.hr-title > h5 {
		font-size: 12px;
		margin-top: 0;
		margin-bottom: 0.2rem;
	}
	.hr-title > hr {
		font-size: 12px;
		margin-top: 0.75rem;
	}
	#casinoActionsHeader {
		margin-top: 0.3rem;
	}
	.playing-card_large {
		font-size: 40px;
	}
}

@media (max-height: 408px) { /* fix text reverse bug */
	#casinoResultCol, #casinoScreenCol, #casinoActionsCol, #casinoUsersOnline {
		display: none !important;
	}
}
